.navbar {
  padding: 10px 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
	font-weight: 600;
}
.navbar .nav-link {
	font-weight: 500;
}
.cart {
	position: relative;
}
.cart .cart-badge {
	position: absolute;
  top: 0;
  left: 25px;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  background: #333;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}